<div class="cell">
  <div class="card">
    <div class="card-section">
      <h4 class="primary">Order Summary</h4>
      <p>Order Summary
        Will be calculated at the time of invoicing.</p>
      <div class="">
       <button class="cell button">Proceed to checkout</button>
      </div>
    </div>
  </div>
</div>

<div class="cell" *ngIf="false">
  <div class="card">
    <div class="card-section">
      <h4>Order Summary</h4>
      <div>Subtotal: </div>
      <div>Total: </div>
      <p>Order Summary
        Will be calculated at the time of invoicing.</p>
      <div class="">
       <button class="button">Proceed to checkout</button>
      </div>
    </div>
  </div>
</div>
