<div class="card">
  <div class="card-section">
    <h4 class="primary">Order Summary</h4>
    <p>Order Summary
      Will be calculated at the time of invoicing.</p>
    <div>
      <button class="cell button">Proceed to checkout</button>
    </div>
  </div>
</div>



<div *ngIf="false" class="card">
  <div class="card-section">
    <h4>Order Summary</h4>
    <div>Subtotal: </div>
    <div>Total: </div>
    <p>Order Summary
      Will be calculated at the time of invoicing.</p>
    <div class="">
      <button class="button">Proceed to checkout</button>
    </div>
  </div>
</div>
