<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell small-6 primary button">
      small-6
    </div>
    <div class="cell small-6 success button">small-6</div>
  </div>

  <ul class="menu">
    <li><a href="#">Beacon</a></li>
    <li><a href="#">Beacon Pro+</a></li>
    <li><a href="#">Beacon 3D+</a></li>
  </ul>
  <ul class="menu align-right">
    <li><a href="#">Beacon</a></li>
    <li><a href="#">Beacon Pro+</a></li>
    <li><a href="#">Beacon 3D+</a></li>
  </ul>


</div>
