<!-- Shipping Cart Page -->
<div class="grid-container">
  <div class="grid-x grid-margin-y grid-padding-x">
    <h3 class="cell subheader">
      <i class="fi fi-shopping-cart"></i> Shopping Cart
    </h3>

    <!-- Search Text Input -->
    <div class="medium-12">
      <app-list-search
        (searchT)="getInput($event)"
      ></app-list-search>
    </div>

    <!-- Generic Card -->
    <div class="small-12 medium-9">
      <app-card
        [hasLoaded]="hasLoaded"
        [data]="data"
        [searchT]="searchT"
      ></app-card>
    </div>

    <!-- Order Summary -->
    <div class="small-12 medium-3" style="min-height: 212px;">
      <app-order-summary [data]="data"></app-order-summary>
    </div>
  </div>
</div>




