<div class="media-object">
  <div class="media-object-section middle" style="padding-left: 0">
    <div class="thumbnail">
      <img *ngIf="src && src.length; else noImage" width="60" [src]= "src">
      <ng-template #noImage>
        No Photo Available
        <span class="fa fa-picture"></span>
      </ng-template>
    </div>
  </div>



  <!-- Potential description -->
  <div class="media-object-section" *ngIf="false">
    <h4>Why is it so important to dream?</h4>
    <p>So, once we've made the plant, how do we go out? Hope you have something more elegant in mind than shooting me in the head? A kick. What's a kick? This, Ariadne, would be a kick.</p>
    <p>What is the most resilient parasite? Bacteria? A virus? An intestinal worm? An idea. Resilient... highly contagious. Once an idea has taken hold of the brain it's almost impossible to eradicate. An idea that is fully formed - fully understood - that sticks; right in there somewhere.</p>
  </div>
  <!-- Media Object -->
 <!--  <div class="media-object-section bottom">
    <div class="thumbnail">
      <img src= "assets/img/media-object/avatar-3.jpg">
    </div>
  </div> -->
</div>
