input {
  height: 36px;
}

.in-valid {
  color: red;
}

i {
  font-size: 2rem;
}

.user-info {
  font-size: 11pt;
  padding: 8px;
  margin-top: -20px;
  margin-bottom: -10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #e9e5e563;
}
