<!-- Loader gif -->
<!-- Temp Turned Off * Move Loader to Parent-->
<div class="cell" *ngIf="!hasLoaded">
  <app-loader [hasLoaded]="hasLoaded"></app-loader>
</div>

<!-- Cart UI -->
  <div class="cell" *ngFor="let item of data | filterSearch:searchT:'name' | slice:0:15">
    <div class="card">
      <div class="card-section">
        <app-custom-image [src]="item.product.url"></app-custom-image>
        <div>{{item.product.name}}</div>
        <div>{{item.product.price | currency}}</div>
        <div>#{{item.product.item}}</div>
        <div class="float-right">
          <app-quanity-selector [qty]="item.product.qty"></app-quanity-selector>
        </div>
      </div>
    </div>
  </div>

<!-- <div *ngIf="(data | async)?.length==0">No records found.</div> -->
